@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}

@layer utilities {
  .gradient-primary {
    background: linear-gradient(135deg, #A156E1 0%, #5C2896 100%);
  }

  .gradient-text {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(135deg, #A156E1 0%, #5C2896 100%);
  }
}
